.maincontainer{
    background: url("../../Images/bg.jpeg") center/cover;
    height:90vh;
    display:flex;
    justify-content: space-evenly;
  
    
}

.containerList{
        background-color: white;
        padding-left:20px;
        width:30%;
        height:65%;
        border-radius: 5px;
        overflow-y: scroll;
        overflow-x: hidden;
        margin-top:100px;
    
}

 .containerSelected{
        background-color: white;
        padding-left:20px;
        width:30%;
        height:65%;
        border-radius: 5px;
        overflow-y: scroll;
        overflow-x: hidden;
        margin-top:100px;
}  

